body {
    background: lightgrey;
}

#left-side {
 display: flex;
 flex-direction:column;
}

#right-side {
 display: flex;
 flex-direction:column;
 margin-left: 100px;
}

#city-search-section {
 display: flex;
 flex-direction:column;
}

#five-day-forecast{
 display: flex;
 flex-direction: row;
}

#left-right-divide{
    display: flex;
    flex-direction: row;
}

#previous-search-section{
 border-top: 1px solid black;
 margin-top: 20px;
}

#current-day-display{
    border: 2px solid black;
    width: 1165px; 
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

#search-button{
    margin-top: 5px;
    background: lightblue;
}

.five-day-card{
    border: 1px solid black;
    margin-right: 20px;
    width: 200px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    background: darkblue;
    color: lightgrey;
}

.previous-search{
    color: blue;
    font-size: 200%;
}

h1{
 padding: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 background: darkblue;
 margin: 0px;
 color: lightgrey;
}



